<div class="row">
    <div class="col-lg-{{tasksService.tasksColumnWidth}}">
        <div class="panel">
            <button routerLink='create-task' (click)='this.tasksService.createOrEditStatus = "Create"'>Create New Task</button>
            <select name="" id="" #select (click)='filterTasks(select.value)'>
        <option value="all">All</option>
        <option value="Completed">Completed</option>
        <option value="Pending">Pending</option>
      </select>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Assigned to</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let task of filteredTasks' (click)='showTaskDetails(task)'>
                        <td>{{task?.task}}</td>
                        <td>{{task?.assignedTo}}</td>
                        <td>{{task?.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-{{tasksService.taskDetailsColumnWidth}}">
        <router-outlet></router-outlet>
    </div>
</div>