<nav class='navbar'>
    <span>TM</span>

    <div class='btn-group'>
        <button type='button' class='team-manager' routerLink='admin/tasks'>Team Managers</button>
        <button type='button' class='team-member' routerLink='team-member'>Team Members</button>
    </div>
</nav>

<div class='hero'>
    <div class="text">
        <h1>Built For Teams. <br> Work Seamlessly.</h1>

        <div class='btn-group'>
            <button type='button' class='team-manager' routerLink='admin/tasks'>Team Managers</button>
            <button type='button' class='team-member' routerLink='team-member'>Team Members</button>
        </div>
    </div>

    <div class='illustration'>
        <img src="assets/image/illustration.svg" alt="">
    </div>
</div>
