<ul class="list-of-details">
    <li>
        <span class='detail-title'>First name</span>
        <span>{{teamMember.firstName}}</span>
    </li>
    <li>
        <span class='detail-title'>Last name</span>
        <span>{{teamMember.lastName}}</span>
    </li>
    <li>
        <span class="detail-title">Email Address</span>
        <span class="">{{teamMember.email}}</span>
    </li>
    <li>
        <span class="detail-title">Password</span>
        <span class="">{{teamMember.password}}</span>
    </li>
</ul>

<div class="btn-group">
    <button class="delete-btn">Dactivate</button>
    <button class='edit-btn'>Edit Profile</button>
</div>